
.card{
    display: grid;
    grid-template-columns: 70% 30%;
    border: 1px green solid;
    margin:10px 50px;
    padding: 20px;
    grid-gap: 30px;
}
.authorData{
    margin-top: 15px;
}
.authorData button{
    margin-top: 15px;
    margin-left: 50px;
}
