.main{
    border: 1px skyblue solid;
}

.searchBar{
    margin-top: 10px;
    margin-left: 25px;
}

.searchBar input[type=text]{
    width: 30%;
    margin: 20px;
}

#newCourse{
    margin-left: 567px;
}